.carousel-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel {
    position: relative;
    border: 20px solid #9ba39d;
    width: 40vw;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.active {
    z-index: 100;
    height: 100%;
}

.carousel-bubbles {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.bubble {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 8px;
    height: 8px;
    margin: 2px;
    cursor: pointer;
}

.cur-bubble {
    background-color: black;
}

.controls {
    margin-top: 5px;
    font-size: 1.6rem;
    text-align: center;
}

#pause-slide {
    display: none;
}
